[App]
ProductWebAddress=http://www.baidu.com
ToolBarPositionedAtTop=true
ToolBarDisplayText=true
EnableAutomaticSoftwareUpdates=false
SoftwareUpdateURL=http://www.baidu.com
HideCheckForSoftwareUpdate=false
HideSwapDisplayScreens=true
ToolBarOrientationVertical=false
PreferredLanguage=
IsInSoftwareUpdateProcess=false
LastSessionDocumentUUID=
LastSessionPageIndex=0
UseMultiscreenMode=true
EnableStartupHints=true
LookForOpenSankoreInstall=true
StartMode=
PageCacheSize=20
OnlineUserName=
FavoriteToolURIs=wboardtool://wboard/mask, wboardtool://ruler, wboardtool://compass, wboardtool://protractor, wboardtool://triangle, wboardtool://magnifier, wboardtool://cache
SwapControlAndDisplayScreens=false
AngleTolerance=4
UseSystemOnScreenKeyboard=true

[Board]
RightLibPaletteBoardModeWidth=270
RightLibPaletteBoardModeIsCollapsed=true
RightLibPaletteDesktopModeWidth=270
RightLibPaletteDesktopModeIsCollapsed=true
LeftLibPaletteBoardModeWidth=270
LeftLibPaletteBoardModeIsCollapsed=true
LeftLibPaletteDesktopModeWidth=270
LeftLibPaletteDesktopModeIsCollapsed=true
FeatureSliderPosition=40
PenFineWidth=1.5
PenMediumWidth=3
PenStrongWidth=8
MarkerFineWidth=12
MarkerMediumWidth=24
MarkerStrongWidth=48
PenPressureSensitive=true
MarkerPressureSensitive=false
UseHighResTabletEvent=true
InterpolatePenStrokes=true
SimplifyPenStrokes=true
SimplifyPenStrokesThresholdAngle=2
SimplifyPenStrokesThresholdWidthDifference=2
InterpolateMarkerStrokes=true
SimplifyMarkerStrokes=true
KeyboardPaletteKeyBtnSize=16x16
DefaultPageSize=@Size(1280 960)
CrossColorDarkBackground=#C8C0C0C0
CrossColorLightBackground=#A5E1FF
GridLightBackgroundColors=#000000, #FF0000, #004080, #008000, #FFDD00, #C87400, #800040, #008080, #A5E1FF
GridDarkBackgroundColors=#FFFFFF, #FF3400, #66C0FF, #81FF5C, #FFFF00, #B68360, #FF497E, #8D69FF, #C8C0C0C0
PenLightBackgroundColors=#000000, #FF0000, #004080, #008000, #FFDD00, #C87400, #800040, #008080, #5F2D0A, #FFFFFF
PenDarkBackgroundColors=#FFFFFF, #FF3400, #66C0FF, #81FF5C, #FFFF00, #B68360, #FF497E, #8D69FF, #000000
MarkerAlpha=0.5
MarkerLightBackgroundColors=#E3FF00, #FF0000, #004080, #008000, #C87400, #800040, #008080, #000000
MarkerDarkBackgroundColors=#FFFF00, #FF4400, #66C0FF, #81FF5C, #B68360, #FF497E, #8D69FF, #FFFFFF
PenLightBackgroundSelectedColors=#000000, #FF0000, #004080, #008000, #FFDD00
PenDarkBackgroundSelectedColors=#FFFFFF, #FF3400, #66C0FF, #81FF5C, #FFFF00
MarkerLightBackgroundSelectedColors=#E3FF00, #FF0000, #004080, #008000, #C87400
MarkerDarkBackgroundSelectedColors=#FFFF00, #FF4400, #66C0FF, #81FF5C, #B68360
ShowEraserPreviewCircle=true
ShowMarkerPreviewCircle=true
ShowPenPreviewCircle=true
PenPreviewFromSize=5
ZoomFactor=1.41
ShowToolsPalette=false
MagnifierDrawingMode=0
AutoSaveIntervalInMinutes=3
StartupKeyboardLocale=0
PenColorIndex=0
MarkerColorIndex=0
PageBackground=0
DarkBackground=0
PenLineWidthIndex=0
EraserCircleWidthIndex=1
MarkerLineWidthIndex=0
EraserMediumWidth=64

[Web]
UseExternalBrowser=false
ShowPageImediatelyOnMirroredScreen=true
Homepage=http://www.baidu.com
BookmarksPage=http://www.baidu.com
AddBookmarkURL=http://www.baidu.com
ShowAddBookmarkButton=false
HistoryLimit=15

[Mirroring]
RefreshRateInFramePerSecond=8

[Import]
LastImportFilePath=C:/Users/Administrator/Documents
LastImportFolderPath=C:/Users/Administrator/Documents

[Export]
LastExportFilePath=C:/Users/Administrator/Documents
LastExportDirPath=C:/Users/Administrator/Documents

[Library]
LastImportToLibraryPath=C:/Users/Administrator/Documents
LastPicturePath=C:/Users/Administrator/Pictures
LastWidgetPath=C:/Users/Administrator/Documents
LastVideoPath=C:/Users/Administrator/Videos
ShowDetailsForLocalItems=false
ImageThumbnailWidth=150
VideoThumbnailWidth=80
ShapeThumbnailWidth=50
SoundThumbnailWidth=50
LibIconSize=80
ImageDirectory=./library/pictures
AudiosDirectory=./library/audios
VideosDirectory=./library/videos
ShapeDirectory=./library/shape

[SVG]
ViewBoxMargin=50

[PDF]
Margin=20
PageFormat=A4
Resolution=300

[Podcast]
FramesPerSecond=10
VideoSize=Medium
AudioRecordingDevice=Default
WindowsMediaBitsPerSecond=1700000
QuickTimeQuality=High

[Community]
Username=
Password=
CredentialsPersistence=false

[Document]
ThumbnailWidth=100
SortKind=0
SortOrder=0
SplitterLeftSize=200
SplitterRightSize=800
ShowDateColumnOnAlphabeticalSort=false
emptyTrashForOlderDocuments=false
emptyTrashDaysValue=30
